*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 500px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.inner{
    flex-grow: 1;
}
.inner label{
    padding: 0px 10px;
    user-select: none;
    cursor: pointer;
}
.outer{
    flex-grow: 1;
}
.outer ul{
    list-style: none;
}
.outer ul li{
    padding: 8px 15px;
    background-color: rgb(252, 252, 252);
    margin: 3px 0px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.392);
}
input:checked{
    color: red;
}